.conteni{
	display: inline-block;
}
#Nombre{
	background-color: pink;
}
.contenid{
	display: inline-block;
}
.img-thumbnail{
	margin-top: 90px;
}
#th{
	background: white;
}
.img-thumbnail1{
	margin-bottom: 150px;
}